/* STYLE MINIMALISTE ET LUXUEUX */

:root {
  --primary: #1a1a1a;
  --accent: #c8aa8c;
  --bg: #c8aa8c;
  --text: #2e2e2e;
  --font: 'DM Serif Display', serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  padding: 2rem;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #ddd;
  background: white;
  box-shadow: 0 10px 40px rgba(0,0,0,0.05);
  border-radius: 10px;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.2rem;
  color: var(--primary);
  font-family: var(--font)
}

.subtitle {
  color: var(--accent);
  font-style: italic;
}

h2 {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  color: var(--primary);
  font-family: var(--font)
}

ul {
  list-style: none;
  margin: 1rem 0;
  padding-left: 0;
}

ul li {
  padding-left: 0;
  position: relative;
  margin-bottom: 0.6rem;
}

.check {
  color: #c8aa8c;
  font-weight: bold;
  margin-right: 0.5rem;
}

.price {
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary);
   font-family: 'Roboto', sans-serif;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 1.6rem;
  background: var(--accent);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid transparent; /* pour éviter un saut de layout au hover */
  transition: all 0.3s ease;
}

.btn:hover {
  background: white;
  color: var(--primary);
  border: 1px solid var(--accent);
}

footer {
  margin-top: 3rem;
  text-align: center;
  font-size: 0.9rem;
  color: #888;
}
